Задание №1. Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [4]:
ratings = pd.read_csv('ratings11.csv')
ratings.head(30)

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117
20       2       10     4.0   835355493
21       2       17     5.0   835355681
22       2       39     5.0   835355604
23       2       47     4.0   835355552
24       2       50     4.0   835355586
25       2       52     3.0   835356031
26       2       62     3.0   835355749
27       2      110     4.0   835355532
28       2      144     3.0   835356016
29       2      150     5.0   835355395

In [5]:
def stage(score):
    if score <= 2:
        return 'bottom'
    elif score > 2 and score <=4:
        return 'middle'
    else:
        return 'top' 
ratings['level'] = ratings['rating'].apply(stage)
ratings.head(30)

    userId  movieId  rating   timestamp   level
0        1       31     2.5  1260759144  middle
1        1     1029     3.0  1260759179  middle
2        1     1061     3.0  1260759182  middle
3        1     1129     2.0  1260759185  bottom
4        1     1172     4.0  1260759205  middle
5        1     1263     2.0  1260759151  bottom
6        1     1287     2.0  1260759187  bottom
7        1     1293     2.0  1260759148  bottom
8        1     1339     3.5  1260759125  middle
9        1     1343     2.0  1260759131  bottom
10       1     1371     2.5  1260759135  middle
11       1     1405     1.0  1260759203  bottom
12       1     1953     4.0  1260759191  middle
13       1     2105     4.0  1260759139  middle
14       1     2150     3.0  1260759194  middle
15       1     2193     2.0  1260759198  bottom
16       1     2294     2.0  1260759108  bottom
17       1     2455     2.5  1260759113  middle
18       1     2968     1.0  1260759200  bottom
19       1     3671     3.0  1260759117  middle
20       2       10     4.0   835355493  middle
21       2       17     5.0   835355681     top
22       2       39     5.0   835355604     top
23       2       47     4.0   835355552  middle
24       2       50     4.0   835355586  middle
25       2       52     3.0   835356031  middle
26       2       62     3.0   835355749  middle
27       2      110     4.0   835355532  middle
28       2      144     3.0   835356016  middle
29       2      150     5.0   835355395     top

Задание №2. Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [6]:
keywords = pd.read_csv('keywords11.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [7]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [8]:
def region(str):
    list_str = str.split(' ')
    set_str = set(list_str)
    for key,value in geo_data.items():
        geo = set(value)
        if set_str & geo == set():
            return 'none'
        else:
            return key

keywords['region'] = keywords['keyword'].apply(region)
keywords.head()

         keyword     shows region
0             вк  64292779   none
1  одноклассники  63810309   none
2          порно  41747114   none
3           ютуб  39995567   none
4      вконтакте  21014195   none

Задание 3. Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
	- для каждой строки пройдите по всем годам списка years
	- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
	- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [9]:
ratings = pd.read_csv('ratings11.csv')
ratings.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [10]:
movies = pd.read_csv('movies11.csv')
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [11]:
years= [i for i in range(1950,2011)]
years

[1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010]

In [12]:
def release_year(str_title):
    for x in years:
        if str_title.find(str(x)) > 0: 
            return x
    return 1990
        
movies['year'] = movies['title'].apply(release_year)
movies.head(10)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
5,6,Heat (1995),Action|Crime|Thriller,1995
6,7,Sabrina (1995),Comedy|Romance,1995
7,8,Tom and Huck (1995),Adventure|Children,1995
8,9,Sudden Death (1995),Action,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995

In [13]:
movies['year'].unique()

array([1995, 1994, 1996, 1976, 1992, 1967, 1993, 1964, 1977, 1965, 1982,
       1990, 1991, 1989, 1969, 1981, 1973, 1970, 1955, 1959, 1968, 1988,
       1997, 1972, 1952, 1951, 1957, 1961, 1958, 1954, 1960, 1963, 1953,
       1950, 1956, 1975, 1974, 1971, 1979, 1987, 1986, 1980, 1978, 1985,
       1966, 1962, 1983, 1984, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010], dtype=int64)

In [18]:
join = ratings.merge(movies)
join.head(10)

   userId  movieId  rating   timestamp                   title genres  year
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama  1995
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama  1995
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama  1995
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama  1995
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama  1995
5      39       31     3.0   832525157  Dangerous Minds (1995)  Drama  1995
6      73       31     3.5  1255591860  Dangerous Minds (1995)  Drama  1995
7      88       31     3.0  1239755559  Dangerous Minds (1995)  Drama  1995
8      96       31     2.5  1223256331  Dangerous Minds (1995)  Drama  1995
9     110       31     4.0   840100695  Dangerous Minds (1995)  Drama  1995

In [19]:
join.groupby('year').mean().sort_values(by='rating', ascending=False)

          userId       movieId    rating     timestamp
year
1957  360.149153   2122.172881  4.067797  1.082142e+09
1952  336.184615   2073.792308  4.061538  1.080898e+09
1954  354.685015   2136.259939  4.044343  1.066002e+09
1972  358.253555   2725.725118  4.029621  1.120346e+09
1974  353.555126   2770.458414  4.001934  1.105290e+09
1951  345.612766   1674.136170  3.991489  1.047464e+09
1950  350.191964   2053.678571  3.977679  1.085261e+09
1962  348.603933   3131.550562  3.957865  1.088881e+09
1977  350.202435   2822.242009  3.911720  1.113257e+09
1967  351.770936   2836.694581  3.860837  1.077724e+09
1958  345.214286   2227.340336  3.855042  1.040291e+09
1964  348.017073   2727.963415  3.853659  1.106663e+09
1959  346.515320   2182.456825  3.852368  1.078399e+09
1969  356.819231   2844.276923  3.850000  1.062981e+09
1975  343.554913   1891.264451  3.838150  1.091759e+09
1960  362.115789   3047.940351  3.828070  1.082330e+09
1976  334.553288   2623.142857  3.825397  1.105121e+09
1973  348.168627   3698.303922  3.823529  1.092827e+09
1966  341.930348   9360.985075  3.823383  1.147986e+09
1979  336.258255   2264.228774  3.797759  1.094792e+09
1955  355.109434   3130.947170  3.792453  1.061658e+09
1981  341.861656   2263.130719  3.779412  1.084641e+09
1968  345.830735   2242.111359  3.777283  1.093949e+09
1971  350.688312   2256.633117  3.752435  1.084492e+09
1953  358.629268   3087.575610  3.736585  1.065040e+09
1980  342.119514   2141.332400  3.732493  1.093683e+09
1963  362.809091   2511.900000  3.730303  1.088294e+09
1970  333.222642   3788.920755  3.718868  1.045723e+09
1965  373.158120   3815.987179  3.709402  1.081305e+09
1961  370.792857   2814.385714  3.694643  1.075854e+09
...          ...           ...       ...           ...
1983  344.985944   3339.115462  3.674699  1.097290e+09
1984  337.597005   2541.878255  3.655273  1.099748e+09
1982  334.929108   2195.467890  3.651793  1.077581e+09
1991  348.805437   2534.106610  3.639392  1.074953e+09
1987  342.048720   2978.029981  3.611181  1.101096e+09
1985  342.343795   2656.380884  3.598431  1.094636e+09
1990  354.881881  49616.935990  3.577508  1.235777e+09
1988  342.678637   3040.932441  3.569994  1.100278e+09
2007  335.429967  54817.922476  3.558958  1.336971e+09
2010  347.271186  79572.870339  3.552119  1.380270e+09
1978  340.359240   2922.905009  3.551813  1.081657e+09
1989  339.693849   2580.173812  3.542637  1.087990e+09
1993  345.239413    942.882339  3.541025  1.025762e+09
1994  346.269874    426.744266  3.540438  1.016639e+09
2009  352.772201  70417.491120  3.533977  1.362026e+09
1986  350.626147   2423.313073  3.528956  1.080870e+09
2008  342.798492  61752.338588  3.525017  1.352130e+09
2006  344.940290  47260.000000  3.516812  1.309210e+09
2004  334.143865  12513.389633  3.491537  1.256974e+09
1998  349.121181   2311.964358  3.476069  1.103211e+09
1999  345.298108   2962.737923  3.475342  1.104610e+09
1995  345.924623    194.942287  3.471220  1.010326e+09
1992  350.536939   2373.772647  3.463940  1.070142e+09
2002  337.723607   5933.996721  3.458197  1.205897e+09
2001  338.125222   4846.960628  3.457371  1.197459e+09
2005  347.241989  36570.128729  3.449171  1.272542e+09
2003  340.319772   7850.441416  3.447722  1.238150e+09
1996  347.024748    868.826569  3.428034  1.020132e+09
1997  356.397336   1907.630812  3.418070  1.086491e+09
2000  341.772396   4211.469260  3.359097  1.146727e+09

[61 rows x 4 columns]