Задание №1. Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0. (ml-latest-small.zip (size: 1 MB))

In [1]:
import pandas as pd

In [10]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

x = ratings[ratings.rating == 5.0 ]['movieId'].value_counts().head(1)

rating_5 = movies[movies.movieId == x.index[0]]

print(f'Фильму {rating_5.title} выставлено больше всего оценок 5.0 ({x.index[0]})')

Фильму 277    Shawshank Redemption, The (1994)
Name: title, dtype: object выставлено больше всего оценок 5.0 (318)

Задание №2. По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [11]:
x = pd.read_csv('power.csv')

y = x[
    ( (x['category'] == 4) | (x['category'] == 12) | (x['category'] == 21)) & ((x['country'] == 'Latvia') | (x['country'] == 'Lithuania')
    | (x['country'] == 'Estonia')) & ((x['year'] >=2005) & (x['year'] <=2010)) & (x['quantity'] >= 0)
]

y.quantity.sum()

240580.0

Задание №3. Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes https://www.finanz.ru/valyuty/v-realnom-vremeni

In [14]:
dataframe = pd.read_html('https://fortrader.org/quotes')[2]
dataframe

                          Type      Last   Chg.  Chg.%  Time
0      Серебро Цена на серебро    17.702  0.023   0.13   NaN
1    Палладий Цена на Палладий  2202.300  0.000   0.00   NaN
2  Золото Цена золота на бирже  1569.860  0.000   0.00   NaN
3      Платина Цены на платину   968.900  0.000   0.00   NaN
4      Медь Цена меди на бирже     2.548  0.000   0.00   NaN